<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Svar</title>
</head>
<body>
    <h1>SVAR:</h1>
    <ul>
        <li><b>Namn:</b> {{fname}} </li>
        <li><b>Efternamn:</b> {{ename}} </li>
        <li><b>Address:</b> {{address}} </li>
        <li><b>Postkod:</b> {{postnmr}} </li>
        <li><b>Stad:</b> {{stad}} </li>
        <li><b>Telefon nummer:</b> {{tele}} </li>
        <li><b>Email erbjudande:</b> {{email}} </li>
        <li><b>Betalsätt:</b> {{pay}} </li>
        <li><b>Erbjudande via email:</b> {{offer}} </li>
        <li><b>E-post format:</b> {{for_mat}} </li>
        <li><b>Din kommentar:</b> {{kommentar}} </li>

    </ul>

</body>
</html>